VITE_SUPABASE_URL="https://lxwtzqlpcsatbwmfocgr.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4d3R6cWxwY3NhdGJ3bWZvY2dyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNzcwOTcsImV4cCI6MjA5MTk1MzA5N30.rJJREN2Hy1yDpAz-lMD2fQGIP-VoCKBtzjGoinH8Vco"
VITE_SUPABASE_PROJECT_ID="lxwtzqlpcsatbwmfocgr"
